.comment {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment .date {
    font-style: italic;
    font-size: 13px;
    color: #888;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #ccc;
}

canvas {
    margin: 0 auto;
    display: block;
}

#biographie, #remerciements {
    background-color: #035A7D;
    color: white;
}
#apercu, #telecharger,.hommages_condoleances {
    background-color: #dbc2a3;
    color: white;
}

.text-white h2 {
    margin-bottom: 0;
}

.hr-custom {
    border-top: 5px solid white;
    margin: 5px 0;
}

.content {
    display: flex;
    align-items: center;
}